<div class="footer-padding"></div>
<div class="footer">
    <p>Copyright<i class="far fa-copyright"></i> 2020@Arushi_Gupta-Graphic Era</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/chatbot.js" charset="utf-8"></script>

</body>
</html>