<%- include("partials/header"); -%>

<div style="text-align: center;">
    <div style="background-color: #ffe8df;">
        <div style="color:#888888;background-color:#ffe8df;width: 50%; margin: 0 auto;">
            <img  style="height:250px;padding: 20px;" src="/images/arushi-circle.png" alt="my photo">
            <h1 style="font-family: 'Montserrat', sans-serif;">Hi!! i am Arushi</h1>
            <h5>sophomore @ Graphic era university and currently pursuing bachelors of technology in computer and science</h5>
        </div>
    </div>

    <div style="font-family: 'Nunito', sans-serif;text-align: left;padding: 1% 15%;">
        <h3>
            I am certainly delighted to introduce you to my project work "creating infomanagement chatbot and deploying it on the cloud. The opportunity to study a new domain of computing not covered in lecture was engaging. As we are acknowledged, website developement nowadays is a must for a computer science engineer. Nevertheless, it allowed me to mould my creativity with very known computer languages and tools like:  
        </h3> 
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>Node</li>
            <li>Mongo DB</li>
            <li>AWS</li>
        </ul>
    </div>
</div>   

<%- include("partials/footer"); -%>