<%- include("partials/header"); -%>
<div style="text-align: center;" class="options container fluid">
    <h1>entered roll number is not present in the database</h1>
    <p>click the below button to get back to the navigator</p>
    <button type="button" class="choice btn btn-outline btn-lg"><a class="options-button" href="/chatbot">Navigator</a></button>
</div>

<%- include("partials/footer"); -%>