body {
    background-color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

#nav {
    background-color: #ffffff;
    padding : 0.5% 15% 0.3% 2%;
}

.icon {
    width:300px;
}

#brand{
    font-family: 'Montserrat', sans-serif;
    color: #888888;
    font-size: 2.2rem;
    margin-left: 15px;
    text-decoration: solid;
}


.nav-item {
    position: relative;

    padding: 0px 20px;
}

#nav-color {
    border-style: solid;
    border-color: #ffffff;
    font-size: 1.3rem;
    color: #888888;
}

#nav-color:hover {
    border-style: solid transparent;
    border-color: #ffe8df;
    border-radius: 15px;
    color: #888888;
}

.dropdown {
    border-radius: 5px;
    background-color: #888888;
}

.contain {
    background-color:#ffe8df;
    height:500px;
}

.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}

.carousel-control-prev-icon {
    height: 40px;
    width: 40px;
}

.carousel-img {
    height: 500px;
    width:100%
}

.options {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 3% 15% 2%;
    color: #888888;
    background-color: #ffe8df;
}

.options-button {
    color: #888888;
}

.options-button:hover {
    color: white;
    text-decoration: none;
}

.choice {
    margin: 25px 20px;
}  

.footer-padding {
    padding :30px;
    text-align: center;
	padding-bottom: 70px;
}

/* .footer {
    position: absolute;
    bottom:0;
	text-align: center;
    width: 100%;
    height: 100px;
	background-color: #888888;
} */

/* .footer p {
    margin-bottom: 0px;
    padding: 30px 0px;
	font-size: 1.2rem;
    color: #ffffff;
} */

#chatbot-container {
    padding: 3% 15%;
}

.name1 {
    display:inline;
}

.bot-reply {
    text-align: left;
}

.user-reply {
    text-align: right;
}

.text-box1 {
    font-weight: bold;
    color: #ffffff;
    border-radius: 15px;
    font-size: 2rem;
    padding: 5px;
    background-color: #888888;
}

.text-box2 {
    font-weight: bold;
    border-style: dotted;
    border-color: #888888;
    color: #888888;
    border-radius: 15px;
    font-size: 2rem;
    padding: 5px;
    background-color: #ffe8df;
}

#special {
    padding-bottom: 8px;
}

#margin-p {
    margin-top: 16px;
}

.all-buttons {
    color: #ffffff;
    border-color: #888888;
    background-color: #888888;
    font-size: 1.5rem;
    font-weight: bold;
}

.all-buttons:hover {
    border-color: #888888;
    background-color: #ffe8df;
    color: #888888;
}

.all-textfields {
    padding: 5px 5px;
    outline: none;
    border-radius:15px;
    font-weight: bold;
    background-color: #ffe8df;
    color: #888888;
    font-size: 1rem;
}

@media only screen and (max-height:944px) {
    .carousel-img {
        height: 400px;
    }

    .options {
        padding:3% 3%;
    }

    .carousel-inner {
        height: 400px;
    }
    #chatbot-container {
        padding: 3% 5%;
    }
}

@media only screen and (max-height:880px) {
    .carousel-img {
        height: 400px;
    }

    .options {

        padding:3% 3%;
    }

    .carousel-inner {
        height: 400px;
    }
    #chatbot-container {
        padding: 3% 5%;
    }
}

@media only screen and (max-height:944px) {
    .carousel-img {
        height: 450px;
    }

    .options {
        
        padding:3% 3%;
    }

    .carousel-inner {
        height: 450px;
    }
    #chatbot-container {
        padding: 3% 5%;
    }
}

@media only screen and (max-width:431px) {
   .icon {
       width:100px;
   }
   
    .carousel-img {
        height: 225px;
    }

    .options {       
        padding:3% 3%;
    }

    .carousel-inner {
        height: 225px;
    }
 
    .options-text {
        font-size: 1rem;
    }
    .footer p{
        font-size: 0.87rem;
    }
    .options-button{
        font-size: 1rem;
    }
    .choice {
        padding: 2px 4px;
        margin: 15px 10px;
    }

    /* .footer-padding {
        padding :30px;
        text-align: center;
        padding-bottom: 50px;
    }
    .footer {
        bottom:0;
        height: 80px;
    } */

    .text-box1 {
        font-weight: bold;
        color: #ffffff;
        border-radius: 15px;
        font-size: 1rem;
        padding: 5px;
        background-color: #888888;
    }
    
    .text-box2 {
        font-weight: bold;
        border-style: dotted;
        border-color: #888888;
        color: #888888;
        border-radius: 15px;
        font-size: 1rem;
        padding: 5px;
        background-color: #ffe8df;
    }

    .all-buttons {
        color: #ffffff;
        border-color: #888888;
        background-color: #888888;
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    .all-buttons:hover {
        border-color: #888888;
        background-color: #ffe8df;
        color: #888888;
    }
    
    .all-textfields {
        padding: 1px 1px;
        outline: none;
        border-radius:15px;
        font-weight: bold;
        background-color: #ffe8df;
        color: #888888;
        font-size: 1rem;
    }

    #chatbot-container {
        padding: 3% 5%;
    }
}