body {
    background-color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

#nav {
    background-color: #ffffff;
    padding : 0.5% 15% 0.3% 2%;
}

#brand{
    font-family: 'Montserrat', sans-serif;
    color: #888888;
    font-size: 2.2rem;
    margin-left: 15px;
    text-decoration: solid;
}


.nav-item {
    position: relative;

    padding: 0px 20px;
}

#nav-color {
    border-style: solid;
    border-color: #ffffff;
    font-size: 1.3rem;
    color: #888888;
}

#nav-color:hover {
    border-style: solid transparent;
    border-color: #ffe8df;
    border-radius: 15px;
    color: #ffe8df;
}

.contain {
    background-color:#ffe8df;
    height:500px;
}

.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}

.carousel-control-prev-icon {
    height: 40px;
    width: 40px;
}

.carousel-img {
    height: 500px;
    width:100%
}

.options {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 3% 15% 2%;
    color: #888888;
    background-color: #ffe8df;

}

.options-button {
    color: #888888;
    border-color: #888888;
}

.options-button:hover {
    color: #888888;
    background-color: #f0f0f0;
    text-decoration: none;
}

.choice {
    border-color: #888888;
    margin: 25px 20px;
}  

.choice:hover {
    background-color: #f0f0f0;
    border-color: #888888;
}

.footer-padding {
    padding :30px;
    text-align: center;
	padding-bottom: 70px;
}

.footer {
    position: absolute;
    bottom:0;
	text-align: center;
    width: 100%;
    height: 100px;
	background-color: #888888;
}

.footer p {
    margin-bottom: 0px;
    padding: 30px 0px;
	font-size: 1.2rem;
    color: #ffffff;
}

.name1 {
    display:inline;
}

.result-table {
    margin-top: 3%;
    background-color: #ffffff;
    color: #888888;
    font-size: 1.3rem;
}